body {
  background: center 0/100% no-repeat url(../../images/bgDecorait.svg), linear-gradient(89deg, #36603E 35.82%, #1E262C 90.75%); }

* {
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  vertical-align: top; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

button {
  background: none;
  cursor: pointer; }
